<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>片语之言</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bundle.87685c2e.css" rel="stylesheet"></head>
    <body>
        <div id="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    <script type="text/javascript" src="/manifest.f4bc7e82.js"></script><script type="text/javascript" src="/vendor.ae8c1b20.js"></script><script type="text/javascript" src="/bundle.b07456f5.js"></script></body>
</html>
