<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>片语之言</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bundle.bb3389c0.css" rel="stylesheet"></head>
    <body>
        <div id="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    <script type="text/javascript" src="/manifest.67f8dcaf.js"></script><script type="text/javascript" src="/vendor.ac261eb9.js"></script><script type="text/javascript" src="/bundle.b0f0f21e.js"></script></body>
</html>
